[flake8]

### Rules ###
# F401 - module imported but unused
# F403 - ‘from module import *’ used; unable to detect undefined names
exclude =
    __init__.py::F401,F403

# E124 - closing bracket does not match visual indentation
ignore =
    E124


### File patterns ###
exclude =
    .git,
    __pycache__

filename =
    *.py

### Options ###
max-line-length = 150
max-doc-length = 150