[submodule "extern/inet"]
  path = extern/inet
  url = https://github.com/riebl/inet
[submodule "extern/pybind11"]
  path = extern/pybind11
  url = https://github.com/pybind/pybind11
[submodule "extern/simulte"]
  path = extern/simulte
  url = https://github.com/riebl/simulte
[submodule "extern/vanetza"]
  path = extern/vanetza
  url = https://github.com/riebl/vanetza
[submodule "extern/veins"]
  path = extern/veins
  url = https://github.com/sommer/veins
[submodule "extern/sim0mqpp"]
  path = extern/sim0mqpp
  url = https://github.com/riebl/sim0mqpp
