[submodule "extern/inet"]
  path = extern/inet
  url = ../inet.git
[submodule "extern/pybind11"]
  path = extern/pybind11
  url = ../pybind11.git
  branch = stable
[submodule "extern/simulte"]
  path = extern/simulte
  url = ../simulte.git
[submodule "extern/vanetza"]
  path = extern/vanetza
  url = ../vanetza.git
[submodule "extern/veins"]
  path = extern/veins
  url = ../veins.git
[submodule "extern/sim0mqpp"]
  path = extern/sim0mqpp
  url = ../sim0mqpp.git
