name: Style Check

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches:
      - master

jobs:
  clang-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install clang-format
        run: sudo apt update && sudo apt install -y clang-format

      - name: Run git-clang-format
        run: |
          git fetch origin master
          git-clang-format              \
            origin/master               \
            --diff
